In [3]:
import pandas as pd

In [4]:
df = pd.read_parquet("green_tripdata_2025-11.parquet")
df.head(0)

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge, cbd_congestion_fee]
Index: []

[0 rows x 21 columns]

df.dtypes

In [5]:
df.dtypes

VendorID                          int32
lpep_pickup_datetime     datetime64[us]
lpep_dropoff_datetime    datetime64[us]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int32
DOLocationID                      int32
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
cbd_congestion_fee              float64
dtype: object

In [6]:
df.head(100)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.20,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.00
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.20,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.00
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.50,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.00
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.70,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.00
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.40,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2025-11-01 01:05:23,2025-11-01 01:33:11,N,1.0,33,170,1.0,6.22,33.10,...,0.5,0.00,0.0,NaN,1.0,39.10,4.0,1.0,2.75,0.75
96,2,2025-11-01 01:12:44,2025-11-01 01:21:10,N,1.0,74,42,1.0,1.12,10.00,...,0.5,0.00,0.0,NaN,1.0,12.50,2.0,1.0,0.00,0.00
97,2,2025-11-01 01:24:03,2025-11-01 01:53:33,N,5.0,157,228,1.0,8.36,75.98,...,0.0,15.40,0.0,NaN,1.0,92.38,1.0,2.0,0.00,0.00
98,2,2025-11-01 01:47:27,2025-11-01 01:47:36,N,5.0,112,112,4.0,0.00,52.00,...,0.0,10.60,0.0,NaN,1.0,63.60,1.0,2.0,0.00,0.00
99,2,2025-11-01 00:57:29,2025-11-01 01:02:38,N,1.0,75,238,1.0,1.06,7.90,...,0.5,2.00,0.0,NaN,1.0,12.40,1.0,1.0,0.00,0.00

In [7]:
df.shape

(46912, 21)

In [8]:
df1 = pd.read_csv('taxi_zone_lookup.csv')
df1.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [15]:
from sqlalchemy import create_engine

In [16]:
engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')

In [17]:
df.head(n=0).to_sql(
    name='ny_taxi_data',
    con=engine,
    if_exists='replace'
)

0

In [19]:
df.to_sql(
    name='ny_taxi_data',
    con=engine,
    if_exists='append'
)

print(f"Inserted data: {len(df)} rows")

Inserted data: 46912 rows

In [20]:
df1.head(n=0).to_sql(
    name='ny_taxi_zone',
    con=engine,
    if_exists='replace'
)

0

In [21]:
df1.to_sql(
    name='ny_taxi_zone',
    con=engine,
    if_exists='append'
)

265